<nav class="navbar navbar-light " style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <h1 style="color: rgb(184, 75, 95);">Angular Crud</h1>
        <div class="d-flex">
            <button (click)="clickAddEmployee()" class="btn btn-success " type="button" data-toggle="modal" data-target="#exampleModal">Add
                Employee</button>
                <button class="btn btn-danger mx-2" routerLink="/login">Logout</button>
        </div>
    </div>
</nav>

<table class="table ">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Employee ID</th> 
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email Id</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Salary</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of employeeData">
            <!-- <th scope="row">1</th> -->
            <td>{{row.id}}</td>
            <td>{{row.firstName}}</td>
            <td>{{row.lastName}}</td>
            <td>{{row.email}}</td>
            <td>{{row.mobile}}</td>
            <td>{{row.salary}}</td>

            <td>
                <button (click)="onEdit(row)" class="btn btn-info" type="button" data-toggle="modal" data-target="#exampleModal">Edit</button>
                <button (click)="deleteEmployee(row)" class="btn btn-danger mx-3">Delete</button>
            </td>
        </tr>

    </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Employee Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formValue">
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" formControlName="firstName" class="form-control" id="firstName">
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" formControlName="lastName" class="form-control" id="lastName">
                    </div>
                    <div class="form-group">
                        <label for="email">Email ID</label>
                        <input type="email" formControlName="email" class="form-control" id="email">
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone Number</label>
                        <input type="text" formControlName="mobile" class="form-control" id="phone">
                    </div>
                    <div class="form-group">
                        <label for="salary">Salary</label>
                        <input type="text" formControlName="salary" class="form-control" id="salary">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="cancel" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" *ngIf="showAdd" (click)="postEmployeeDetails()" class="btn btn-primary">Add</button>
                <button type="button" *ngIf="showUpdate" (click)="updateEmployeeDetails()" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div>